{
  "env": {
    "browser": true,
    "es2020": true
  },
  "plugins": [
    "svelte3"
  ],
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "overrides": [
    {
      "files": ["*.svelte"],
      "processor": "svelte3/svelte3"
    }
  ],
  "rules": {
    "indent": ["warn", 2],
    "semi": ["warn", "never"]
   }
}
